.weather{
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weather > svg{
    padding: 5px;
    height: 17px;
}

.weather > div{
    font-size: 14px;
    font-weight: 100;
    color: white;
}