.notification{
    height: 30px;
    backdrop-filter: blur(7px);
}
.widget-container{
    margin-top: 10px;
    height: 170px;
    width: 100%;
}
.widget-container > .widget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.widget-container > .widget > .weather > svg{
    margin-right: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
}
.widget-container > .widget > .weather > h5{
    font-size: 22px;
}

.widget-container > .widget > h4 {
    font-size: 20px;
}