.projectInfo{
    padding: 10px;
    color: white;
}
.phoneProjectInfo{
    padding: 10px 0;
}
.projectInfo > .backButton{
    padding: 5px 0;
}

.projectInfo > .backButton > img{
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 50%;
}

.projectInfo > .backButton > img:hover{
    background-color: rgb(55, 55, 55)
}

.projectInfo > hr{
    width: 100%;
    margin: 0 auto;
    border-color: gray;
}
.projectInfo > .header{
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.projectInfo > .header > img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
.projectInfo > .header > div{
    margin-left: 10px;
}
.phoneProjectInfo  > .projectInfo > .header > img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.phoneProjectInfo  > .projectInfo > .header > div > h1{
    font-size: 18px;
}
.phoneProjectInfo  > .projectInfo > .header > div > h3{
    font-size: 16px;
}
.phoneProjectInfo  > .projectInfo > .header > div > p{
    font-size: 15px;
}
.projectInfo > .info {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.projectInfo > .info > .info-item{
    height: 100%;
    width: 100%;
    margin: 5px;
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}
.projectInfo > .info > .info-item:nth-child(1){
    border-left: none;
}
.projectInfo > .info > .info-item > h1{
    font-size: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.projectInfo > .info > .info-item > img{
    height: 60px;
}
.phoneProjectInfo  > .projectInfo > .info{
    padding: 15px 0;
}
.phoneProjectInfo  > .projectInfo > .info > .info-item{
    margin: 0;
    text-align: center;
}
.phoneProjectInfo  > .projectInfo > .info > .info-item > h2{
    font-size: 14px;
}
.phoneProjectInfo  > .projectInfo > .info > .info-item > img,
.phoneProjectInfo  > .projectInfo > .info > .info-item > h1{
    width: 38px;
    height: 38px;
}
.phoneProjectInfo  > .projectInfo > .info > .info-item > p{
    font-size: 10px;
}
.projectInfo > .about{
    padding: 10px;
}
.projectInfo > .about > h1{
    padding-top: 10px;
}
.projectInfo > .about > span{
    color: gray;
    font-size: 13px;
}

.projectInfo > .about > p{
    padding: 20px 0;
}
.phoneProjectInfo  > .projectInfo > .about > h1,
.phoneProjectInfo  > .projectInfo > .detailInfo > h1{
    font-size: 20px;
}
.phoneProjectInfo  > .projectInfo > .about > span{
    font-size: 12px;
}
.phoneProjectInfo  > .projectInfo > .about > p{
    font-size: 14px;
}
.projectInfo > .detailInfo{
    padding: 10px;
}
.projectInfo > .detailInfo > .detailInfo-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projectInfo > .detailInfo > .detailInfo-container > div{
    flex: 1 48%;
    padding: 10px;
}
.detailInfo > .detailInfo-container > div > span{
    color: gray;
    font-size: 15px;
}

.detailInfo > .detailInfo-container > div > p{
    font-size: 17px;
}

.phoneProjectInfo  > .projectInfo > .detailInfo {
    padding: 10px 0;
}
.phoneProjectInfo  > .projectInfo > .detailInfo > .detailInfo-container {
    padding: 10px 0;
}