.projectInfo{
    padding: 10px;
}
.projectInfo > .backButton{
    padding: 5px 0;
}

.projectInfo > .backButton > img{
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 50%;
}

.projectInfo > .backButton > img:hover{
    background-color: rgb(55, 55, 55)
}

.projectInfo > hr{
    width: 100%;
    margin: 0 auto;
    border-color: gray;
}
.projectInfo > .header{
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.projectInfo > .header > img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
.projectInfo > .header > div{
    color: white;
    margin-left: 10px;
}

.projectInfo > .info {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.projectInfo > .info > .info-item{
    height: 100%;
    width: 100%;
    margin: 5px;
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
}
.projectInfo > .info > .info-item:nth-child(1){
    border-left: none;
}
.projectInfo > .info > .info-item > h1{
    font-size: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.projectInfo > .info > .info-item > img{
    height: 60px;
}
